$font-size24:1.5rem;
$font-size14:0.875rem;
$font-size15:0.9375rem;
$font-size26:1.625rem;
$font-size12:0.75rem;
$font-size10:0.625rem;
$font-size20:1.25rem;
$font-size13:0.813rem;
$font-size30:1.875rem;
$font-size50:3.125rem;
$font-width-regular:400;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$letter-spacing-2: -2px;
$color-black :#121212;
$color-white :#fff;
$color-gray-777 :#777;
$color-gray-d7:#d7d7d7;
$color-darkgray-4b:#4b4b4b;
$color-gray-aca4a7:#aca4a7;
$color-gray-8e8e8e:#8e8e8e;
$color-gray-ebebeb:#ebebeb;
$color-f5:#f5f5f5;


@mixin flex-row{
    display: flex; flex-flow: row nowrap; align-items: center;
}
@mixin flex-col{
    display: flex; flex-flow: column nowrap; align-items: start; justify-content: start;
}
@mixin width100 {width: 100%; overflow: hidden;}

@mixin background {background-repeat: no-repeat; background-size: cover; background-position: center;}


#wrap {
    header {
        @include flex-row; justify-content: space-between;
        width: 100%; height: 90px; padding: 0 96px;
        position: fixed; z-index: 900;
        background-color: chocolate;
        h1 {
            a {width: 151px; height: 43px;
                img{width: 100%;}
            }
        }
        nav { 
            .gnb { @include flex-row; gap: 50px; align-items: start; justify-content: center;
                background-color: aqua; 
                li {
                    .gnb_link {
                        font-size: $font-size15; font-weight: $font-width-mediun; 
                        line-height: 50px; display: block;
                    }
                    .product {width: 100%; @include flex-col; justify-content: center; gap: 30px;}
                    .lnb {position:absolute; left: 0px; top: 90px; width: 300px; z-index: 800; width: 100%; display: inline-block; background-color: coral;
                        li {
                            a {font-size: $font-size14; color: $color-gray-aca4a7;
                                em {color: $color-black; font-size: $font-size15; font-weight: $font-width-mediun;}
                            }
                        }
                    }
                }
            }
        }
        .right_meun {width: 151px; padding-left: 39px; @include flex-row; gap: 20px; background-color: red;
            a:nth-last-child(1) {width: 20px; img{width: 100%;}}
            a {width: 26px; display: inline-block;
                img {width: 100%;}
            }
        }
    }
    footer {width: 100%; padding: 50px 0;
        nav { background-color: $color-f5; padding: 15px 96px; border-top: 5px solid $color-gray-777;
            .fnb {@include flex-row; 
                li:first-child {padding-left: 0;}
                li:last-child {border-right: 0px;}
                li {
                    padding:0  30px; border-right:1.5px solid $color-gray-d7;
                    a {
                        font-weight: $font-width-mediun; font-size: $font-size13; color: $color-gray-777;}
                }
            }
        }
        .center{ padding: 70px  96px;
            @include flex-row; justify-content: space-between; align-items: start;
            .logo_g {
                .logo {
                    a{width: 151px; height: 43px; display: inline-block; margin-bottom:10px;
                        img{width: 100%;}}
                    }
                p{font-size: $font-size13;}
            }
            .cs {
                dt {font-size: $font-size20; font-weight: $font-width-semibold;}
                dd {font-size: $font-size13; margin-top: 10px;}
            }
            .company {font-size: $font-size13; dd{margin-top: 10px;}}
            .qr_code {padding: 10px 10px; border: 1px solid $color-black;
                .qr_image {width: 100px; img {width: 100%;}}
                .mobile {
                    text-align: center; font-size: $font-size14; font-weight: $font-width-semibold;}
            }
        }
        .sns {
            @include flex-row; justify-content: center; gap : 15px; 
            li {font-size: $font-size13; font-weight: $font-width-mediun;}
            .insta {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/insta.png); @include background;
            }
            .facebook {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/facebook.png); @include background;
            }
            .youtube {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/youtube.png); @include background;
            }
        }
    }
}