$font-size24:1.5rem;
$font-size14:0.875rem;
$font-size15:0.9375rem;
$font-size26:1.625rem;
$font-size12:0.75rem;
$font-size10:0.625rem;
$font-size20:1.25rem;
$font-size13:0.813rem;
$font-size30:1.875rem;
$font-width-regular:400;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$letter-spacing-2: -2px;
$color-black :#121212;
$color-white :#fff;
$color-gray-777 :#777;
$color-gray-d7:#d7d7d7;
$color-darkgray-4b:#4b4b4b;
$color-gray-aca4a7:#aca4a7;
$color-gray-8e8e8e:#8e8e8e;
$color-gray-ebebeb:#ebebeb;
$color-f5:#f5f5f5;


@mixin flex-row{
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
}
@mixin flex-col{
    display: flex; flex-flow: column nowrap; align-items: start; justify-content: start;
}
@mixin width100 {width: 100%; overflow: hidden;}

@mixin background {background-repeat: no-repeat; background-size: cover; background-position: center;}


header {
    @include flex-row; 
    width: 100%; height: 90px; padding: 0 96px;
    position: fixed; z-index: 900;
    background-color: chocolate;
    h1 {
        a {width: 151px; height: 43px;
            img{width: 100%;}
        }
    }
    nav { 
        .gnb { @include flex-row; gap: 50px; align-items: start; justify-content: center;
            background-color: aqua; 
            li {
                a {font-size: $font-size15; font-weight: $font-width-mediun;
                }
                .lnb:nth-last-child(1) {display: none;}
                .lnb { border: 2px solid red; position: absolute;left: 0px; top: 90px;
                    width: 100%; @include flex-col; gap: 30px;
                    background-color: $color-white;
                    li {
                        a {font-size: $font-size14; color: $color-gray-aca4a7;
                            em {color: $color-black; font-size: $font-size15; font-weight: $font-width-mediun;}
                        }
                    }
                }
            }
    
        }
    }
    .right_meun {width: 151px; padding-left: 39px; @include flex-row; gap: 20px; background-color: red;
        a:nth-last-child(1) {width: 20px; img{width: 100%;}}
        a {width: 26px; display: inline-block;
            img {width: 100%;}
        }
    }
}