$font-size24:1.5rem;
$font-size14:0.875rem;
$font-size15:0.9375rem;
$font-size26:1.625rem;
$font-size12:0.75rem;
$font-size10:0.625rem;
$font-size20:1.25rem;
$font-size13:0.813rem;
$font-size17:1.063rem;
$font-size30:1.875rem;
$font-size40:2.5rem;
$font-size50:3.125rem;
$font-width-regular:400;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$letter-spacing-2: -2px;
$color-black :#121212;
$color-white :#fff;
$color-gray-777 :#777;
$color-gray-d7:#d7d7d7;
$color-darkgray-4b:#4b4b4b;
$color-gray-aca4a7:#aca4a7;
$color-gray-8e8e8e:#8e8e8e;
$color-gray-ebebeb:#ebebeb;
$color-f5:#f5f5f5;


@mixin flex-row{
    display: flex; flex-flow: row nowrap; align-items: center;
}
@mixin flex-col{
    display: flex; flex-flow: column nowrap; align-items: start; justify-content: start;
}
@mixin width100 {width: 100%; overflow: hidden;}

@mixin background {background-repeat: no-repeat; background-size: cover; background-position: center;}

body,html {scroll-behavior: smooth;}
#wrap {
    header {
        @include flex-row; justify-content: space-between;
        width: 100vw; height: 90px; padding: 0 96px;
        position: fixed; z-index: 900;
        background-color: $color-white;
        h1 {
            a {width: 151px; height: 43px;
                img{width: 100%;}
            }
        }
        nav { 
            .gnb { @include flex-row; gap: 50px; align-items: start; justify-content: center;
                li {position: relative;
                    .gnb_a {
                        font-size: $font-size17; font-weight: $font-width-mediun; 
                        line-height: 90px; display: block;
                        }
                    &:hover > .gnb_a {opacity: 0.5;}
                    .lnb::before {
                        content: ''; width: 1000vw; background-color: rgba($color: $color-white, $alpha: 0.9); 
                        position: absolute; inset: 0;/* 위치-상좌하우 모두 0 */ transform: translateX(-50%);/* 기준점 li에서 풀로 채우기 위해 위치 이동 */
                    }
                    .lnb {
                        position: absolute; top:100%; left: 0;
                        padding: 30px 0 100px;
                        li {
                            a {font-size: $font-size14; font-weight: $font-width-mediun; color: $color-gray-777;
                                em {font-size: $font-size15; font-weight: $font-width-mediun; color:$color-black;}
                            }
                        }
                    }
                }/* gnb>li */
                /* 브랜드 하위메뉴 */
                .gnb_brand {/* 스타일 */
                    .lnb {@include flex-col; gap: 30px; display: none;
                        li {width: 90px;}
                    }
                }
                .gnb_brand:hover {.lnb {display: flex;}}/* 마우스 올리면 */
                /* 프로덕트 하위메뉴 */
                .gnb_product {@include flex-row; /* 스타일 */
                    .lnb{width: 1252px; transform: translateX(-32%); display:none;
                        li {@include flex-row; gap:50px; align-items: start; width: 136px;
                            ul {@include flex-col; gap: 30px; }
                        }
                    }
                }
                .gnb_product:hover {.lnb {display: flex;}}/* 마우스 올리면 */
                /* 커뮤니티 */
                .gnb_community {/* 스타일 */
                    .lnb {@include flex-col; gap: 30px; display: none;}
                }
                .gnb_community:hover {.lnb {display: flex;}}/* 마우스 올리면 */
            }/* gnb끝 */
        }/* nav끝 */
        .right_meun {width: 151px; padding-left: 39px; @include flex-row; gap: 20px;
            a:nth-last-child(1) {width: 20px; img{width: 100%;}}
            a {width: 26px; display: inline-block;
                img {width: 100%;}
            }
        }
    }
    footer { padding: 50px 0; margin: 0 auto;
        nav { background-color: $color-f5; padding: 15px 96px; border-top: 5px solid $color-gray-777; width: 100wv;
            .fnb {@include flex-row; 
                li:first-child {padding-left: 0;}
                li:last-child {border-right: 0px;}
                li {
                    padding:0  30px; border-right:1.5px solid $color-gray-d7;
                    a {
                        font-weight: $font-width-mediun; font-size: $font-size13; color: $color-gray-777;}
                }
            }
        }
        .center{ padding: 70px  96px;
            @include flex-row; justify-content: space-between; align-items: start;
            .logo_g {
                .logo {
                    a{width: 151px; height: 43px; display: inline-block; margin-bottom:10px;
                        img{width: 100%;}}
                    }
                p{font-size: $font-size13;}
            }
            .cs {
                dt {font-size: $font-size20; font-weight: $font-width-semibold;}
                dd {font-size: $font-size13; margin-top: 10px;}
            }
            .company {font-size: $font-size13; dd{margin-top: 10px;}}
            .qr_code {padding: 10px 10px; border: 1px solid $color-black;
                .qr_image {width: 100px; img {width: 100%;}}
                .mobile {
                    text-align: center; font-size: $font-size14; font-weight: $font-width-semibold;}
            }
        }
        .sns {
            @include flex-row; justify-content: center; gap : 15px; 
            li {font-size: $font-size13; font-weight: $font-width-mediun;}
            .insta {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/insta.png); @include background;
            }
            .facebook {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/facebook.png); @include background;
            }
            .youtube {width: 30px; height: 30px; display: inline-block;
                background-image: url(../images/youtube.png); @include background;
            }
        }
    }
}