@use './common.scss' as*;

main {
    section {margin-bottom: 150px;}/* 섹션 간격 */
    h3 {font-size: $font-size20; font-weight: $font-width-semibold; text-align: center;}/* 공용 */
    #main_bnr {padding-top: 90px; position: relative; z-index: 800;
        .bnr {
            .bnr_conteiner {width: 100vw; height: 70vh;
                .bnr1 {background-image: url(../images/bnr.jpg); @include background;}
                .bnr2 {background-image: url(../images/bnr.jpg); @include background;}
                .bnr3 {background-image: url(../images/bnr.jpg); @include background;}
                .swiper-slide{
                    a {width: 100%; height: 700px; position: absolute; top:22%; left: 15%;
                        img {width: 394px; height: 46px; margin-bottom: 33px;}
                        p {font-weight: $font-size15; margin-bottom: 30px; width: 484px;}
                        h2 {font-size: $font-size50; font-weight: $font-width-bold; margin-bottom: 30px; line-height: 1.2; width: 484px;}
                    }
                }
            }
        }
        .bnr_control {
            .swiper-button-prev svg , .swiper-button-next svg {color: $color-black; z-index: 900;}
            .swiper-button-prev {left: 96px;}
            .swiper-button-next {right: 96px;}
            .swiper-scrollbar-horizontal {width: 450px; bottom: 57px; height: 3px; left: 17%;}
            .swiper-scrollbar-drag {background-color: $color-black;}
            .swiper-pagination-current {color: $color-black; }
            .swiper-pagination-current, .swiper-pagination-total {font-weight: $font-width-semibold; font-size:$font-size15;}
            .swiper-pagination-fraction {bottom: 52px; left: -34.5%; color: $color-gray-aca4a7;}
        }
    }
    #best_seller {position: relative; width: 1615px; margin: 150px auto; z-index: 200;
        h3,.btn_g {margin-bottom: 40px;
            .main_btn {text-align: center;
                button.active {color: $color-white;background-color: $color-darkgray-4b;}
                button:not(:nth-child(4)) {margin-right: 15px;}
                button {
                color: $color-darkgray-4b; width: 76px; height: 44px;
                border: 1px solid $color-darkgray-4b;
                }
            }
            a {top:18%; right:0;
                display: inline-block; text-align: end; position: absolute;
                em {color: $color-gray-777; font-weight: $font-width-mediun;}
                span {
                    background-image: url(../images/plus.png); width: 13px; height: 13px; @include background; display: inline-block;
                }
            }
        }/* 버튼그룹 끝 */
        .best_g {position: relative; width: 1613px; display: none;
            .best_product_g {
                .best_product {
                    &:hover {
                        .favorit_icon span {
                          display: block; /* ✅ hover 시 보이게 */
                        }}
                    width: 313.6px; height: 336px; display: inline-block; margin-bottom: 15px; position: relative; z-index: 200; overflow: hidden;
                    img {width: 100%;}
                    .dark-overlay {/* 상품이미지 오버레이 씌우기 (불투명도0) */
                        position: absolute;
                        inset: 0; /* top:0, right:0, bottom:0, left:0 */
                        background: rgba(0,0,0,0);
                        transition: 0.3s;
                        pointer-events: none; /* 클릭 막지 않음 */
                    }
                    .dark-overlay.active {/* 상품 이미지 어둡게 */
                        background: rgba(0,0,0,0.5);
                    }
                    .favorit_icon {
                        .bag {bottom: 58px; right: 10px;}
                        .heart {bottom: 10px; right: 10px;}
                        span {width: 44px; height: 44px; display: none;
                            position: absolute; z-index: 300; 
                            img {width: 100%;}
                        }
                    }    
                }
                h5 {margin-bottom: 15px;}
                .brand_title {font-size: $font-size14; margin-bottom: 15px; display: inline-block;}
                .best_p_title{font-size: $font-size15;}
                .product_price {@include flex-row; gap: 10px;
                    p{font-weight: $font-width-mediun;}
                    del{font-size: $font-size14; color: $color-gray-777;}
                }
            }  
        }
        .best_g.active {display: block;}
        .best_control {
            .swiper-button-prev svg,.swiper-button-next svg  {display: none;}
            .swiper-button-prev {top: 57%; left:-54px;}
            .swiper-button-next {top: 57%; right:-54px;}
            .swiper-button-prev::after {
                content: ''; width: 44px; height: 44px; background-image: url(../images/previous.png);@include background; }
            .swiper-button-next::after {
                content: ''; width: 44px; height: 44px; background-image: url(../images/next.png);@include background; }
        }
    }/* best_seller 끝 */
    #new {@include flex-row; 
        .new_g1 {a {background-image: url(../images/new1.jpg);}}
        .new_g2 {a {background-image: url(../images/new2.jpg);}}
        .new_g3 {a {background-image: url(../images/new3.jpg);}}
        .new_g { width: 100%;
            .new_product {display: block;
                padding: 204px 0 50px 70px;
                height: 350px;
                color: $color-white; font-size: $font-size24; 
                p {margin-bottom: 10px; font-weight: $font-width-semibold;
                    em {font-size: $font-size15;}
                }
                h5 {white-space: nowrap; margin-bottom: 10px; font-weight: $font-width-semibold;}
            }
        }
        .new_g {
            a {
                background-position: center; background-repeat: no-repeat; background-size: 105%; transition: background-size 0.7s ease;
            }
            &:hover {>a {background-size: 115%;}}
        }
    }/* new 끝 */
    #steady_seller {@include flex-row; gap: 58px; justify-content: center;
        .steady_main_img {width: 460px; height: 606px;
            img {width: 100%;}
        }
        .clean_it_zero { position: relative;
            .clean_it_title {
                h3 {text-align: left; margin-bottom: 15px;}
                p {font-size: $font-size15; margin-bottom: 33px;} 
            }    
        }
        .swiper { width: 1083px;}
        .steady_product_g {
            .steady_slide {
                .steady_conteiner {
                    @include flex-row; gap: 63px;
                }
                .product_g { margin-bottom: 22px;}
                .product_g {@include flex-row; gap: 30px;
                    
                    &:hover {
                        .steady_product{
                            .heart {display: block;}}}
                    .steady_product {
                        width: 150px; height: 150px; position: relative; z-index: 200; 
                        img {width: 100%;}
                        .heart {width: 33px; position: absolute; z-index: 300; bottom: 5px; right: 5px; display: none;
                            img {width: 100%;}
                        }
                    }
                    .product_info {width: 330px;
                        .brand_title,h5,.product_price { margin-bottom: 15px;}
                        .brand_title {font-size: $font-size14; display: inline-block;}
                        h5 {a {font-size: $font-size15;}}
                        .product_price {@include flex-row; gap: 5px;
                            p {font-weight: $font-width-mediun;}
                            del {font-size: $font-size14; color: $color-gray-777;}
                        }
                        button {padding: 10px 20px; border: 1px solid $color-gray-d7; width: 330px; border-radius: 4px; 
                            @include flex-row; gap: 10px; justify-content: center;
                            span {width: 12px; height: 15px; display:block;
                                img{width: 100%;}
                                }
                            em {font-size: $font-size13; line-height: 14px;}
                        }
                    }
                }
            }
        }
        .swiper-scrollbar {width: 100%; height: 3px; left: 0;bottom: 0; background-color: $color-gray-d7;}
        .swiper-scrollbar-drag {background-color: $color-black;}
    }
    #event {@include flex-row; gap: 10px; justify-content: center; padding: 0 96px;
        .event_bnr1,.event_bnr2 {
            height: 250px; padding: 84.5px 132px; 
            border-radius: 10px; @include background; background-size:contain;
        }
        .event_bnr1 {background-image: url(../images/event_bnr1.png); width: 950px;}
        .event_bnr2 { background-image: url(../images/event_bnr2.png); width: 950px;}
            p {font-weight: $font-width-mediun; width: 244px;
                em {
                    font-weight: $font-width-semibold; display: inline-block;
                    font-size: 2.1875rem; margin-bottom: 20px;
                }
            }
    }
    #md_pick_group {@include flex-row; gap:50px; justify-content: center;
        .md_pick {
            &:hover {>a {background-size: 110%}}
            .background_img {
            @include background; background-size: 101%; transition: background-size 0.7s ease;
            text-align: center; display: inline-block; 
            width: 500px; height: 500px; color: $color-white; padding-top: 372px;
            h6 {font-weight: $font-width-semibold; font-size: $font-size26; margin-bottom:10px;}
            p {font-weight: $font-width-mediun; line-height: 1.3;}
            }
            .product_g {position: relative; z-index: 200;
                    display: flex; gap: 10px; margin-top: 20px;
                    .pd_img {display:block; 
                        width: 100px; height: 100px;
                        img {width: 100%; /* 제품이미지 */}
                    } 
                    &:hover {span {display: block;}}
                    span {/* 찜하기 */ position: absolute; top: 60px; left: 60px; z-index: 300; display: none;
                        img {width: 100%;}
                    }
                    .product_info {width: 390px; padding: 13px 0;
                        h2 { a {font-size: $font-size14;} margin-bottom: 10px;}
                        h5 {
                            a {font-size: $font-size15;width: 100%;}
                            margin-bottom: 10px;
                        }
                        .product_price {@include flex-row; gap: 5px;
                            p { font-weight: $font-width-mediun;
                                del {font-size: $font-size14; color: $color-gray-777;}
                            }
                        }
                    }
                }
        }
        .travel {.background_img {background-image: url(../images/travel_main.jpg);}}
        .mood {.background_img {background-image: url(../images/mood_main.jpg);}}
        .set {.background_img {background-image: url(../images/set_main.jpg);}}
    }
    #celebrity {width: 1728px; position: relative; margin: 150px auto;
        .influencer {margin-top: 30px;
            .container {
                .swiper-slide { 
                    span {width: 343px; height: 400px;
                        img {width: 100%;}
                    }
                }
            }    
        }
    }
    .control {
        .swiper-button-prev,.swiper-button-next {background-repeat: no-repeat; background-position: center;}
        .swiper-button-prev {left:-22px; background-image: url(../images/previous.png);}    /* svg 없애기해야됨 */
        .swiper-button-next {right:-22px; background-image: url(../images/next.png);}  
        .swiper-button-prev svg, .swiper-button-next svg {display:none;}
            }
}