@use './common.scss' as*;

main {
    section {margin-bottom: 150px;}/* 섹션 간격 */
    h3 {font-size: $font-size20; font-weight: $font-width-semibold; text-align: center;}/* 공용 */
    #main_bnr {
        .bnr {
            .bnr_conteiner {height: 700px;
                .bnr1 {
                    background-image: url(../images/bnr.jpg); @include background;
                }
                .bnr2 {}
                .swiper-slide{
                    padding: 163px 220px 236px;
                    a {
                        img {width: 394px; height: 46px; margin-bottom: 33px;}
                        p {font-weight: $font-size15; margin-bottom: 30px;}
                        h2 {font-size: $font-size50; font-weight: $font-width-bold; margin-bottom: 30px; line-height: 1.2;}
                    }
                }
            }
            .swiper-button-prev {border: 3px solid red;}
            .swiper-button-next {border: 3px solid red;}
        }
    }
    #best_seller {
        h3,.btn_g {margin-bottom: 40px;
            .main_btn {text-align: center;
                button:not(:nth-child(4)) {margin-right: 15px;}
                button {
                color: $color-darkgray-4b; width: 76px; height: 44px;
                border: 1px solid $color-darkgray-4b;
                }
            }
            a {display: inline-block; text-align: end; width: 100%; padding: 0 150px;
                em {color: $color-gray-777; font-weight: $font-width-mediun;}
                span {
                    background-image: url(../images/plus.png); width: 13px; height: 13px; @include background; display: inline-block;
                }
            }
        }/* 버튼그룹 끝 */
        .best_g {position: relative;  width: 1613px;
            .best_product_g {
                .best_product { width: 392px; height: 420px; display: inline-block; margin-bottom: 15px; position: relative; z-index: 200; 
                    img {width: 100%;}
                    .favorit_icon {
                        .bag {bottom: 48px; right: 10px;}
                        .heart {bottom: 10px; right: 10px;}
                        span {width: 33px; height: 33px;
                            position: absolute; z-index: 300; 
                            img {width: 100%;}
                        }
                    }    
                }
                h5 {margin-bottom: 15px;}
                .best_p_title{font-size: $font-size15;}
                .product_price {@include flex-row; gap: 5px;
                    p{font-weight: $font-width-mediun;}
                    del{font-size: $font-size14; color: $color-gray-777;}
                }
            }
            .swiper-button-prev svg,.swiper-button-next svg  {display: none;}
            .swiper-button-prev::after{
                content: ''; background-image: url(../images/previous.png); z-index: 500; position: absolute; left: -40px;
                width: 44px; height: 44px; background-repeat:no-repeat; background-position: center; display: block;}
            .swiper-button-next {background-image: url(../images/next.png);}    
        }
    }/* best_seller 끝 */
    #new {@include flex-row; 
        .new_g1 {background-image: url(../images/new1.jpg); }
        .new_g2 {background-image: url(../images/new2.jpg); @include background;}
        .new_g3 {background-image: url(../images/new3.jpg); @include background;}
        .new_g { width: 100%;
            .new_product {display: block;
                padding: 204px 0 50px 70px;
                height: 350px;
                color: $color-white; font-size: $font-size24; 
                p {margin-bottom: 10px; font-weight: $font-width-semibold;
                    em {font-size: $font-size15;}
                }
                h5 {white-space: nowrap; margin-bottom: 10px; font-weight: $font-width-semibold;}
            }
        }
    }/* new 끝 */
    #steady_seller {@include flex-row; gap: 58px; justify-content: center;
        .steady_main_img {width: 460px; height: 606px;
            img {width: 100%;}
        }
        .clean_it_zero { position: relative;
            .clean_it_title {
                h3 {text-align: left; margin-bottom: 15px;}
                p {font-size: $font-size15; margin-bottom: 33px;} 
            }    
        }
        .swiper { width: 1083px;}
        .steady_product_g {
            .steady_slide {
                .steady_conteiner {
                    @include flex-row; gap: 63px;
                }
                .product_g { margin-bottom: 22px;}
                .product_g {@include flex-row; gap: 30px;
                    .steady_product {
                        width: 150px; height: 150px; position: relative; z-index: 200; 
                        img {}
                        .heart {width: 33px; position: absolute; z-index: 300; bottom: 5px; right: 5px;
                            img {width: 100%;}
                        }    
                    }
                    .product_info {width: 330px;
                        .brand_title,h5,.product_price { margin-bottom: 15px;}
                        .brand_title {font-size: $font-size14; display: inline-block;}
                        h5 {a {font-size: $font-size15;}}
                        .product_price {@include flex-row; gap: 5px;
                            p {font-weight: $font-width-mediun;}
                            del {font-size: $font-size14; color: $color-gray-777;}
                        }
                        button {padding: 10px 20px; border: 1px solid $color-gray-d7; width: 330px; border-radius: 4px; 
                            @include flex-row; gap: 10px; justify-content: center;
                            span {width: 12px; height: 15px; display:block;
                                img{width: 100%;}
                                }
                            em {font-size: $font-size13; line-height: 14px;}
                        }
                    }
                }
            }
        }
        .swiper-scrollbar {width: 100%; height: 2px; left: 0;bottom: 0; background-color: $color-gray-d7;}
    }
    #event {@include flex-row; gap: 10px; margin-left: 10px; margin-right: 10px;
        .event_bnr1,.event_bnr2 {
            width: 100%; height: 250px; padding: 84.5px 132px; 
            border-radius: 10px; @include background;
        }
        .event_bnr1 {background-image: url(../images/event_bnr1.png);}
        .event_bnr2 { background-image: url(../images/event_bnr2.png);}
            p {font-weight: $font-width-mediun;
                em {
                    font-weight: $font-width-semibold; display: inline-block;
                    font-size: 2.1875rem; margin-bottom: 20px;
                }
            }
    }
    #md_pick {@include flex-row; gap:50px; justify-content: center;
        .md_pick {
            .background_img {
            @include background; display: inline-block; text-align: center;
            width: 500px; height: 500px; color: $color-white; padding-top: 372px;
            h6 {font-weight: $font-width-semibold; font-size: $font-size26; margin-bottom:10px;}
            p {font-weight: $font-width-mediun; line-height: 1.3;}
            }
            .product_g {position: relative; z-index: 200;
                    display: flex; gap: 10px; margin-top: 20px;
                    .pd_img {display:block; 
                        width: 100px; height: 100px;
                        img {width: 100%; /* 제품이미지 */}
                    } 
                    span {/* 찜하기 */ position: absolute; top: 60px; left: 60px; z-index: 300;
                        img {width: 100%;}
                    }
                    .product_info {width: 390px; padding: 13px 0;
                        h2 { a {font-size: $font-size14;} margin-bottom: 10px;}
                        h5 {
                            a {font-size: $font-size15;width: 100%;}
                            margin-bottom: 10px;
                        }
                        .product_price {@include flex-row; gap: 5px;
                            p { font-weight: $font-width-mediun;
                                del {font-size: $font-size14; color: $color-gray-777;}
                            }
                        }
                    }
                }
        }
        .travel {.background_img {background-image: url(../images/travel_main.jpg);}}
        .mood {.background_img {background-image: url(../images/mood_main.jpg);}}
        .set {.background_img {background-image: url(../images/set_main.jpg);}}
    }
    #celebrity { position: relative;
        .influencer { width: 1728px; margin-top: 30px;
            .conteiner {
                .swiper-slide { 
                    span {width: 343px; height: 400px;
                        img {width: 100%;}
                    }
                }
            }    
        }
    }
    .control {
        .swiper-button-prev,.swiper-button-next { width: 40px; height: 40px; color: $color-black;}
        .swiper-button-prev {}    
    }
}