@charset "UTF-8";
body, html {
  scroll-behavior: smooth;
}

#wrap header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 0 96px;
  position: fixed;
  z-index: 900;
  background-color: #fff;
}
#wrap header h1 a {
  width: 151px;
  height: 43px;
}
#wrap header h1 a img {
  width: 100%;
}
#wrap header nav .gnb {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  align-items: start;
  justify-content: center;
}
#wrap header nav .gnb li {
  position: relative;
}
#wrap header nav .gnb li .gnb_a {
  font-size: 1.063rem;
  font-weight: 500;
  line-height: 90px;
  display: block;
}
#wrap header nav .gnb li:hover > .gnb_a {
  opacity: 0.5;
}
#wrap header nav .gnb li .lnb::before {
  content: "";
  width: 1000vw;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  inset: 0; /* 위치-상좌하우 모두 0 */
  transform: translateX(-50%); /* 기준점 li에서 풀로 채우기 위해 위치 이동 */
}
#wrap header nav .gnb li .lnb {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 30px 0 100px;
}
#wrap header nav .gnb li .lnb li a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #777;
}
#wrap header nav .gnb li .lnb li a em {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #121212;
}
#wrap header nav .gnb {
  /* gnb>li */
  /* 브랜드 하위메뉴 */
}
#wrap header nav .gnb .gnb_brand { /* 스타일 */ }
#wrap header nav .gnb .gnb_brand .lnb {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 30px;
  display: none;
}
#wrap header nav .gnb .gnb_brand .lnb li {
  width: 90px;
}
#wrap header nav .gnb .gnb_brand:hover .lnb {
  display: flex;
}
#wrap header nav .gnb { /* 마우스 올리면 */
  /* 프로덕트 하위메뉴 */
}
#wrap header nav .gnb .gnb_product {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* 스타일 */
}
#wrap header nav .gnb .gnb_product .lnb {
  width: 1252px;
  transform: translateX(-32%);
  display: none;
}
#wrap header nav .gnb .gnb_product .lnb li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  align-items: start;
  width: 136px;
}
#wrap header nav .gnb .gnb_product .lnb li ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
#wrap header nav .gnb .gnb_product:hover .lnb {
  display: flex;
}
#wrap header nav .gnb { /* 마우스 올리면 */
  /* 커뮤니티 */
}
#wrap header nav .gnb .gnb_community { /* 스타일 */ }
#wrap header nav .gnb .gnb_community .lnb {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 30px;
  display: none;
}
#wrap header nav .gnb .gnb_community:hover .lnb {
  display: flex;
}
#wrap header nav .gnb { /* 마우스 올리면 */ }
#wrap header nav {
  /* gnb끝 */
}
#wrap header {
  /* nav끝 */
}
#wrap header .right_menu {
  width: 151px;
  padding-left: 39px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  justify-content: end;
}
#wrap header .right_menu a:nth-last-child(1) {
  width: 20px;
}
#wrap header .right_menu a:nth-last-child(1) img {
  width: 100%;
}
#wrap header .right_menu a {
  width: 26px;
  display: inline-block;
}
#wrap header .right_menu a img {
  width: 100%;
}
#wrap footer {
  padding: 50px 0;
  margin: 0 auto;
}
#wrap footer nav {
  background-color: #f5f5f5;
  padding: 15px 96px;
  border-top: 5px solid #777;
  width: 100wv;
}
#wrap footer nav .fnb {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}
#wrap footer nav .fnb li:nth-child(even) {
  color: #d7d7d7;
}
#wrap footer nav .fnb li a {
  font-weight: 500;
  font-size: 0.813rem;
  color: #777;
}
#wrap footer .center {
  padding: 70px 96px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
#wrap footer .center .logo_g .logo a {
  width: 151px;
  height: 43px;
  display: inline-block;
  margin-bottom: 10px;
}
#wrap footer .center .logo_g .logo a img {
  width: 100%;
}
#wrap footer .center .logo_g p {
  font-size: 0.813rem;
}
#wrap footer .center .cs dt {
  font-size: 1.25rem;
  font-weight: 600;
}
#wrap footer .center .cs dd {
  font-size: 0.813rem;
  margin-top: 10px;
}
#wrap footer .center .company {
  font-size: 0.813rem;
}
#wrap footer .center .company dd {
  margin-top: 10px;
}
#wrap footer .center .qr_code {
  padding: 10px;
  border: 1px solid #121212;
}
#wrap footer .center .qr_code .qr_image {
  width: 100px;
}
#wrap footer .center .qr_code .qr_image img {
  width: 100%;
}
#wrap footer .center .qr_code .mobile {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}
#wrap footer .sns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#wrap footer .sns li {
  font-size: 0.813rem;
  font-weight: 500;
}
#wrap footer .sns .insta {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../images/insta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#wrap footer .sns .facebook {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#wrap footer .sns .youtube {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../images/youtube.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main section {
  margin-bottom: 150px;
}
main { /* 섹션 간격 */ }
main h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
main { /* 공용 */ }
main #main_bnr {
  padding-top: 90px;
  position: relative;
  z-index: 800;
}
main #main_bnr .bnr .bnr_container {
  width: 100vw;
  height: 70vh;
}
main #main_bnr .bnr .bnr_container .bnr1 {
  background-image: url(../images/bnr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #main_bnr .bnr .bnr_container .bnr2 {
  background-image: url(../images/bnr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #main_bnr .bnr .bnr_container .bnr3 {
  background-image: url(../images/bnr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #main_bnr .bnr .bnr_container .swiper-slide a {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 22%;
  left: 15%;
}
main #main_bnr .bnr .bnr_container .swiper-slide a img {
  width: 394px;
  height: 46px;
  margin-bottom: 33px;
}
main #main_bnr .bnr .bnr_container .swiper-slide a p {
  font-weight: 0.9375rem;
  margin-bottom: 30px;
  width: 484px;
}
main #main_bnr .bnr .bnr_container .swiper-slide a h2 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.2;
  width: 484px;
}
main #main_bnr .bnr_control .swiper-button-prev svg, main #main_bnr .bnr_control .swiper-button-next svg {
  color: #121212;
  z-index: 900;
}
main #main_bnr .bnr_control .swiper-button-prev {
  left: 96px;
}
main #main_bnr .bnr_control .swiper-button-next {
  right: 96px;
}
main #main_bnr .bnr_control .swiper-scrollbar-horizontal {
  width: 450px;
  bottom: 57px;
  height: 3px;
  left: 17%;
}
main #main_bnr .bnr_control .swiper-scrollbar-drag {
  background-color: #121212;
}
main #main_bnr .bnr_control .swiper-pagination-current {
  color: #121212;
}
main #main_bnr .bnr_control .swiper-pagination-current, main #main_bnr .bnr_control .swiper-pagination-total {
  font-weight: 600;
  font-size: 0.9375rem;
}
main #main_bnr .bnr_control .swiper-pagination-fraction {
  bottom: 52px;
  left: -34.5%;
  color: #aca4a7;
}
main #best_seller {
  position: relative;
  width: 1615px;
  margin: 150px auto;
  z-index: 200;
  padding-bottom: 55px;
}
main #best_seller h3, main #best_seller .btn_g {
  margin-bottom: 40px;
}
main #best_seller h3 .main_btn, main #best_seller .btn_g .main_btn {
  text-align: center;
}
main #best_seller h3 .main_btn button.active, main #best_seller .btn_g .main_btn button.active {
  color: #fff;
  background-color: #4b4b4b;
}
main #best_seller h3 .main_btn button:not(:nth-child(4)), main #best_seller .btn_g .main_btn button:not(:nth-child(4)) {
  margin-right: 15px;
}
main #best_seller h3 .main_btn button, main #best_seller .btn_g .main_btn button {
  color: #4b4b4b;
  width: 76px;
  height: 44px;
  border: 1px solid #4b4b4b;
}
main #best_seller h3 a, main #best_seller .btn_g a {
  top: 18%;
  right: 0;
  display: inline-block;
  text-align: end;
  position: absolute;
}
main #best_seller h3 a em, main #best_seller .btn_g a em {
  color: #777;
  font-weight: 500;
}
main #best_seller h3 a span, main #best_seller .btn_g a span {
  background-image: url(../images/plus.png);
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
main #best_seller {
  /* 버튼그룹 끝 */
}
main #best_seller .best_g {
  position: relative;
  width: 1613px;
  display: none;
}
main #best_seller .best_g .best_product_g .best_product:hover .favorit_icon span {
  display: block; /* ✅ hover 시 보이게 */
}
main #best_seller .best_g .best_product_g .best_product {
  width: 313.6px;
  height: 336px;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  z-index: 200;
  overflow: hidden;
}
main #best_seller .best_g .best_product_g .best_product img {
  width: 100%;
}
main #best_seller .best_g .best_product_g .best_product .dark-overlay { /* 상품이미지 오버레이 씌우기 (불투명도0) */
  position: absolute;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  pointer-events: none; /* 클릭 막지 않음 */
}
main #best_seller .best_g .best_product_g .best_product .dark-overlay.active { /* 상품 이미지 어둡게 */
  background: rgba(0, 0, 0, 0.5);
}
main #best_seller .best_g .best_product_g .best_product .favorit_icon .bag {
  bottom: 58px;
  right: 10px;
}
main #best_seller .best_g .best_product_g .best_product .favorit_icon .heart {
  bottom: 10px;
  right: 10px;
}
main #best_seller .best_g .best_product_g .best_product .favorit_icon span {
  width: 44px;
  height: 44px;
  display: none;
  position: absolute;
  z-index: 300;
}
main #best_seller .best_g .best_product_g .best_product .favorit_icon span img {
  width: 100%;
}
main #best_seller .best_g .best_product_g h5 {
  margin-bottom: 15px;
}
main #best_seller .best_g .best_product_g .brand_title {
  font-size: 0.875rem;
  margin-bottom: 15px;
  display: inline-block;
}
main #best_seller .best_g .best_product_g .best_p_title {
  font-size: 0.9375rem;
}
main #best_seller .best_g .best_product_g .product_price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}
main #best_seller .best_g .best_product_g .product_price p {
  font-weight: 500;
}
main #best_seller .best_g .best_product_g .product_price del {
  font-size: 0.875rem;
  color: #777;
}
main #best_seller .best_g.active {
  display: block;
}
main #best_seller .best_control .swiper-button-prev svg, main #best_seller .best_control .swiper-button-next svg {
  display: none;
}
main #best_seller .best_control .swiper-button-prev {
  top: 57%;
  left: -54px;
}
main #best_seller .best_control .swiper-button-next {
  top: 57%;
  right: -54px;
}
main #best_seller .best_control .swiper-button-prev::after {
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../images/previous.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #best_seller .best_control .swiper-button-next::after {
  content: "";
  width: 44px;
  height: 44px;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main #best_seller .best_control .swiper-pagination {
  bottom: 0;
  display: none;
}
main #best_seller .best_control .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
main #best_seller .best_control .swiper-pagination-bullet-active {
  background: #121212;
  width: 20px;
  border-radius: 5px;
}
main {
  /* best_seller 끝 */
}
main #new .swiper .swiper-wrapper .new_g1 a {
  background-image: url(../images/new1.jpg);
}
main #new .swiper .swiper-wrapper .new_g2 a {
  background-image: url(../images/new2.jpg);
}
main #new .swiper .swiper-wrapper .new_g3 a {
  background-image: url(../images/new3.jpg);
}
main #new .swiper .swiper-wrapper .new_g {
  width: 100%;
}
main #new .swiper .swiper-wrapper .new_g .new_product {
  display: block;
  padding: 204px 0 50px 70px;
  height: 350px;
  color: #fff;
  font-size: 1.5rem;
}
main #new .swiper .swiper-wrapper .new_g .new_product p {
  margin-bottom: 10px;
  font-weight: 600;
}
main #new .swiper .swiper-wrapper .new_g .new_product p em {
  font-size: 0.9375rem;
}
main #new .swiper .swiper-wrapper .new_g .new_product h5 {
  white-space: nowrap;
  margin-bottom: 10px;
  font-weight: 600;
}
main #new .swiper .swiper-wrapper .new_g a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105%;
  transition: background-size 0.7s ease;
}
main #new .swiper .swiper-wrapper .new_g:hover > a {
  background-size: 115%;
}
main {
  /* new 끝 */
}
main #steady_seller {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 58px;
  justify-content: center;
}
main #steady_seller .steady_main_img {
  width: 460px;
  height: 606px;
}
main #steady_seller .steady_main_img img {
  width: 100%;
}
main #steady_seller .clean_it_zero {
  position: relative;
}
main #steady_seller .clean_it_zero .clean_it_title h3 {
  text-align: left;
  margin-bottom: 15px;
}
main #steady_seller .clean_it_zero .clean_it_title p {
  font-size: 0.9375rem;
  margin-bottom: 33px;
}
main #steady_seller .swiper {
  width: 1083px;
}
main #steady_seller .steady_product_g .steady_slide .product_g {
  margin-bottom: 22px;
}
main #steady_seller .steady_product_g .steady_slide .product_g {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}
main #steady_seller .steady_product_g .steady_slide .product_g:hover .steady_product .heart {
  display: block;
}
main #steady_seller .steady_product_g .steady_slide .product_g .steady_product {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 200;
}
main #steady_seller .steady_product_g .steady_slide .product_g .steady_product img {
  width: 100%;
}
main #steady_seller .steady_product_g .steady_slide .product_g .steady_product .heart {
  width: 33px;
  position: absolute;
  z-index: 300;
  bottom: 5px;
  right: 5px;
  display: none;
}
main #steady_seller .steady_product_g .steady_slide .product_g .steady_product .heart img {
  width: 100%;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info {
  width: 330px;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info .brand_title, main #steady_seller .steady_product_g .steady_slide .product_g .product_info h5, main #steady_seller .steady_product_g .steady_slide .product_g .product_info .product_price {
  margin-bottom: 15px;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info .brand_title {
  font-size: 0.875rem;
  display: inline-block;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info h5 a {
  font-size: 0.9375rem;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info .product_price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info .product_price p {
  font-weight: 500;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info .product_price del {
  font-size: 0.875rem;
  color: #777;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info button {
  padding: 10px 20px;
  border: 1px solid #d7d7d7;
  width: 330px;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info button span {
  width: 12px;
  height: 15px;
  display: block;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info button span img {
  width: 100%;
}
main #steady_seller .steady_product_g .steady_slide .product_g .product_info button em {
  font-size: 0.813rem;
  line-height: 14px;
}
main #steady_seller .swiper-scrollbar {
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #d7d7d7;
}
main #steady_seller .swiper-scrollbar-drag {
  background-color: #121212;
}
main #event {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0 96px;
}
main #event .event_bnr1, main #event .event_bnr2 {
  height: 250px;
  padding: 84.5px 132px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
main #event .event_bnr1 {
  background-image: url(../images/event_bnr1.png);
  width: 950px;
}
main #event .event_bnr2 {
  background-image: url(../images/event_bnr2.png);
  width: 950px;
}
main #event p {
  font-weight: 500;
  width: 244px;
}
main #event p em {
  font-weight: 600;
  display: inline-block;
  font-size: 2.1875rem;
  margin-bottom: 20px;
}
main #md_pick_group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
main #md_pick_group .md_pick:hover > a {
  background-size: 110%;
}
main #md_pick_group .md_pick .background_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 101%;
  transition: background-size 0.7s ease;
  text-align: center;
  display: inline-block;
  width: 500px;
  height: 500px;
  color: #fff;
  padding-top: 372px;
}
main #md_pick_group .md_pick .background_img h6 {
  font-weight: 600;
  font-size: 1.625rem;
  margin-bottom: 10px;
}
main #md_pick_group .md_pick .background_img p {
  font-weight: 500;
  line-height: 1.3;
}
main #md_pick_group .md_pick .product_g {
  position: relative;
  z-index: 200;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
main #md_pick_group .md_pick .product_g .pd_img {
  display: block;
  width: 100px;
  height: 100px;
}
main #md_pick_group .md_pick .product_g .pd_img img {
  width: 100%; /* 제품이미지 */
}
main #md_pick_group .md_pick .product_g:hover span {
  display: block;
}
main #md_pick_group .md_pick .product_g span { /* 찜하기 */
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 300;
  display: none;
}
main #md_pick_group .md_pick .product_g span img {
  width: 100%;
}
main #md_pick_group .md_pick .product_g .product_info {
  width: 390px;
  padding: 13px 0;
}
main #md_pick_group .md_pick .product_g .product_info h2 a {
  font-size: 0.875rem;
}
main #md_pick_group .md_pick .product_g .product_info h2 {
  margin-bottom: 10px;
}
main #md_pick_group .md_pick .product_g .product_info h5 a {
  font-size: 0.9375rem;
  width: 100%;
}
main #md_pick_group .md_pick .product_g .product_info h5 {
  margin-bottom: 10px;
}
main #md_pick_group .md_pick .product_g .product_info .product_price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
main #md_pick_group .md_pick .product_g .product_info .product_price p {
  font-weight: 500;
}
main #md_pick_group .md_pick .product_g .product_info .product_price p del {
  font-size: 0.875rem;
  color: #777;
}
main #md_pick_group .travel .background_img {
  background-image: url(../images/travel_main.jpg);
}
main #md_pick_group .mood .background_img {
  background-image: url(../images/mood_main.jpg);
}
main #md_pick_group .set .background_img {
  background-image: url(../images/set_main.jpg);
}
main #celebrity {
  width: 1728px;
  position: relative;
  margin: 150px auto;
}
main #celebrity .influencer {
  margin-top: 30px;
}
main #celebrity .influencer .container .swiper-slide span {
  width: 343px;
  height: 400px;
}
main #celebrity .influencer .container .swiper-slide span img {
  width: 100%;
}
main .control .swiper-button-prev, main .control .swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
}
main .control .swiper-button-prev {
  left: -22px;
  background-image: url(../images/previous.png);
}
main .control { /* svg 없애기해야됨 */ }
main .control .swiper-button-next {
  right: -22px;
  background-image: url(../images/next.png);
}
main .control .swiper-button-prev svg, main .control .swiper-button-next svg {
  display: none;
}

@media screen and (max-width: 1024px) {
  #wrap header {
    padding: 0 30px;
  }
  #wrap header nav .gnb {
    gap: 30px;
  }
  #wrap header nav .gnb li .gnb_a {
    font-size: 0.9375rem;
  }
  #wrap header .right_menu {
    gap: 15px;
  }
  #wrap header .right_menu a {
    width: 23px;
  }
  #wrap main section {
    margin-bottom: 100px;
  }
  #wrap main { /* 섹션 간격 */ }
  #wrap main #main_bnr .bnr_conteiner {
    height: 700px;
  }
  #wrap main #main_bnr .swiper-slide a {
    top: 28%;
  }
  #wrap main #main_bnr h2 {
    font-size: 2.5rem;
  }
  #wrap main #main_bnr .bnr_control .swiper-button-prev {
    left: 30px;
  }
  #wrap main #main_bnr .bnr_control .swiper-button-next {
    right: 30px;
  }
  #wrap main #main_bnr .bnr_control .swiper-scrollbar-horizontal {
    left: 18.5%;
    width: 360px;
  }
  #wrap main #best_seller {
    width: 964px;
  }
  #wrap main #best_seller .best_g {
    width: 964px;
  }
  #wrap main #best_seller .best_product_g .best_product {
    width: 230px;
    height: 246px;
  }
  #wrap main #best_seller .best_control .swiper-button-prev, #wrap main #best_seller .best_control .swiper-button-next {
    display: none;
  }
  #wrap main #best_seller .best_control .swiper-pagination {
    display: inline-block;
  }
  #wrap main #new .new_g1 a {
    background-image: url(../images/new_t_1.jpg);
  }
  #wrap main #new .new_g2 a {
    background-image: url(../images/new_t_2.jpg);
  }
  #wrap main #new .new_g3 a {
    background-image: url(../images/new_t_3.jpg);
  }
  #wrap main #new .new_g .new_product {
    font-size: 1.25rem;
    padding: 200px 30px 50px;
    height: 339px;
    background-size: cover;
  }
  #wrap main #steady_seller {
    margin: 0 auto 150px;
  }
  #wrap main #steady_seller .swiper {
    width: 473px;
  }
  #wrap main #event {
    padding: 0 30px;
  }
  #wrap main #event .event_bnr1, #wrap main #event .event_bnr2 {
    padding: 91px 50px;
    width: 100%;
    background-size: cover;
    background-position: 74% 0;
  }
  #wrap main #event p {
    font-size: 0.875rem;
  }
  #wrap main #event p em {
    font-size: 1.5rem;
  }
  #wrap main #md_pick_group {
    gap: 9px;
  }
  #wrap main #md_pick_group .md_pick .background_img {
    padding-top: 218px;
    width: 315px;
    height: 315px;
  }
  #wrap main #md_pick_group .md_pick .background_img h6 {
    font-size: 1.125rem;
  }
  #wrap main #md_pick_group .md_pick .background_img p {
    font-size: 0.875rem;
  }
  #wrap main #md_pick_group .md_pick .product_g .pd_img {
    width: 83px;
  }
  #wrap main #md_pick_group .md_pick .product_g .product_info {
    width: 222px;
    height: 85px;
    padding: 0;
    display: flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    justify-content: space-between;
  }
  #wrap main #md_pick_group .md_pick .product_g .product_info h2 a {
    font-size: 0.75rem;
  }
  #wrap main #md_pick_group .md_pick .product_g .product_info h5 a {
    font-size: 0.875rem;
  }
  #wrap main #md_pick_group .md_pick .product_g .product_info .product_price p {
    font-size: 0.875rem;
  }
  #wrap main #md_pick_group .md_pick .product_g .product_info .product_price del {
    font-size: 0.75rem;
  }
  #wrap main #celebrity {
    width: 964px;
  }
  #wrap main #celebrity .swiper-slide span {
    width: 238.5px;
  }
  #wrap footer {
    position: relative;
    padding: 0;
  }
  #wrap footer nav {
    padding: 15px 30px;
  }
  #wrap footer nav .fnb {
    gap: 0;
    justify-content: space-between;
  }
  #wrap footer .center {
    padding: 62px 30px;
    display: grid;
    /* 왼쪽 정보 / 빈공간 / 3 / 4  → 총 4컬럼 */
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto auto;
    column-gap: 32px; /* 컬럼 간 간격 */
    align-items: flex-start;
  }
  #wrap footer .logo_g .logo a {
    height: 35px;
  }
  #wrap footer .logo_g {
    grid-column: 1;
    grid-row: 1;
  }
  #wrap footer .company {
    grid-column: 1;
    grid-row: 2;
  }
  #wrap footer .cs {
    grid-column: 3;
    grid-row: 1;
  }
  #wrap footer .qr_code {
    grid-column: 4;
    grid-row: 1;
    padding: 8px;
  }
  #wrap footer .qr_code .qr_img {
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
  }
  #wrap footer .qr_code .qr_img img {
    width: 100%;
  }
  #wrap footer .qr_code .mobile {
    font-size: 0.75rem;
  }
  #wrap footer .sns {
    position: absolute;
    right: 30px;
    bottom: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
